{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unicorn"],
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": [1],
    "@typescript-eslint/ban-ts-comment": [1],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "curly": ["error", "all"],
    "unicorn/switch-case-braces": ["error", "always"]
  }
}
